#board {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  background-color: #195e1c;
  padding: 10px
}

.cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  height: 10vmin;
  width: 25vmin;
  display: inline-block;
}

#bottombar {
  height: 5vh;
}

#instructions {
  /* height: 5vh; */
  background-color: white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  font-size: x-large;
  border: 1px solid black;
}

#bottombar button {
  width: 50%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
  font-size: 2vw
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
